@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.size-btn.active {
  pointer-events: none; /* Disable hover effects */
  background-color: transparent; /* Ensure there's no hover bg */
  border-color: #2563eb; /* Active button keeps the blue border */
  color: #2563eb; /* Active button text remains blue */
}

/* Ensure no color change when an active button is hovered */
.size-btn.active:hover {
  border-color: #2563eb;
  color: #2563eb;
}

/* Styling for the hover state when not active */
.size-btn:hover {
  border-color: #2563eb;
  color: #2563eb;
}
